.popup {
    position: relative;
    background-color: #FFFFFF;
    max-width: 430px;
    max-height: 430px;
    border-radius: 10px;
    margin: 196px auto;
}

@media screen and (max-width: 366px) {
    .popup {
        max-width: 282px;
        max-height: 322px;
        margin: 132px auto 0 auto;
    }
}