.profile__edit {
    background-color: black;
    max-width: 24px;
    max-height: 24px;
    border: solid 1px #FFFFFF;
    margin: 15px 0 0;
}

.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}


@media screen and (max-width: 625px) {
    .profile__edit {
        max-width: 18px;
        max-height: 18px;
        margin-top: 5px;
    }
}