.popup__name {
    width: 358px;
    opacity: 0.6;
    box-sizing: border-box;
    margin: 54px 0 0;
    border: 0;
    border-bottom: 1px solid #000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.popup__name::placeholder {
    color: black;
}

@media screen and (max-width: 366px) {
    .popup__name {
        width: 238px;
    }
}