.profile__info {
    display: flex;
    flex-direction: column;
    width: 100%;

}

@media screen and (max-width: 625px) {
    .profile__info {
        max-width: 100%;
        padding-top: 26px;
        margin: 0;
        font-weight: 500;


    }
}