.profile__new-post {
    padding: 0;
    max-width: 150px;
    max-height: 50px;
    border: solid 1px #FFFFFF;
    background-color: black;
    cursor: pointer;
}

.profile__new-post:hover {
    opacity: 0.6;
}


@media screen and (max-width: 625px) {
    .profile__new-post {
        max-width: 282px;
        border: solid 1px #FFFFFF;
        background-color: black;
    }
}