.profile__pic {
    max-width: 120px;
    max-height: 120px;
    border-radius: 100px;
    margin-right: 40px;

}

@media screen and (max-width: 625px) {
    .profile__pic {
        margin: 0;
    }
}