.profile__pic {
    max-width: 120px;
    max-height: 120px;
    Border-radius: 100px;
    margin-right: 40px;
}

@media screen and (max-width: 366px) {
    .profile__pic {
        margin-right: 0;
    }
}