.image__popup {
    max-width: 816px;
    max-height: 75vh;
    flex-direction: column;
    display: flex;
    margin: auto;


}

@media screen and (max-width: 366px) {
    .image__popup {
        max-width: 282px;
        max-height: 322px;
        margin: 120px auto;
    }
}